@import "tailwindcss";

/* Star animation */
@keyframes star {
  0% { transform: translateY(0) }
  50% { transform: translateY(5px) }
  100% { transform: translateY(0) }
}

.animate-star {
  animation: star infinite linear;
}


/* Gradient text animation */
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}